<!DOCTYPE html>
<html lang="en">
    <!-- Begin Head -->
    <head >
        <meta charset="UTF-8"  /><meta name="author" content="Martin Walther - @tinuwalther"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Pode, FullCalendar, PowerShell, JavaScript"/>
        <meta name="description" content="RotaMaster is a Calendar App based on Pode and PowerShell-APIs"/>
        
        <link rel="stylesheet" href="/assets/BootStrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/rotamaster/rotamaster.main.css"/>

        <script src="/assets/BootStrap/bootstrap.bundle.min.js"></script>
        <script src="/assets/rotamaster/fullcalendar.main.min.js"></script>
        <script src="/assets/rotamaster/index.global.min.js"></script>
        <script src="/assets/rotamaster/rotamaster.main.js"></script>

        <script>
            let db;

            /**
            * On page load
            */
            window.addEventListener('load', () => {
                getNextYear('/api/year/new'); // Call the API once the page is fully loaded
            });

            /**
            * Initializes the FullCalendar instance with events from the API and sets up form submission handling.
            * 
            * This function listens for the `DOMContentLoaded` event to ensure the DOM is fully loaded before
            * initializing the FullCalendar component. It asynchronously fetches event data from the provided API,
            * configures the calendar with this data, and renders the calendar. Additionally, the form handling logic
            * for creating new events is included, where form submissions are intercepted, and data is sent to the API.
            *
            * Main features:
            * - Loads calendar events from the API endpoint '/api/event/get'.
            * - Initializes a FullCalendar instance with various configuration options (locale, views, toolbars, etc.).
            * - Handles 'dateClick' and 'select' interactions in the calendar.
            * - Intercepts form submissions to create new events by sending form data to the API endpoint '/api/event/new'.
            *
            * @listens DOMContentLoaded
            * 
            * @example
            * The calendar is initialized and rendered once the page is fully loaded.
            */
            document.addEventListener('DOMContentLoaded', async function() {

                const d = new Date();
                document.getElementById('footerDate').textContent = 'Last refresh: ' + d.toLocaleString();

                const calendarEvents = [];
                const events = await readDBData('/api/event/read');
                const holidays = await loadApiData('/api/event/get');
                // Concatenate holidays and events to one Array
                calendarEvents.push(...holidays);
                calendarEvents.push(...events);
                // console.log(calendarEvents);

                // Wait for the result of the getPerson function and fill the datalist element
                setTimeout(function() {
                    // Fetch person data
                    fetchData('api/events/person', 'person').then(namesArray => {
                        if (namesArray.length) {
                            fillDatalistOptions('datalistOptions', namesArray);
                            // alternatively fillDropdownOptions('person', namesArray);
                            fillDropdownOptions('nameDropdown', namesArray);
                        } else {
                            console.error('No names found.');
                        }
                    }).catch(error => {
                        console.error('Error fetching names:', error);
                    });
                }, 200);

                // Wait for the result of the getAbsence function and fill the dropdown element
                setTimeout(function() {
                    // Fetch absence data
                    fetchData('api/events/absence', 'absence').then(typesArray => {
                        if (typesArray.length) {
                            fillDropdownOptions('absenceType', typesArray);
                        } else {
                            console.error('No absence types found.');
                        }
                    }).catch(error => {
                        console.error('Error fetching absence types:', error);
                    });
                }, 200);

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    timeZone: 'local',
                    locale: 'de-CH',
                    initialView: 'multiMonthYear',
                    multiMonthMinWidth: 350,
                    multiMonthMaxColumns: 2,
                    headerToolbar: {
                        left: 'prevYear,prev,today,next,nextYear',
                        center: 'title',
                        right: 'multiMonthYear,dayGridMonth,listMonth,exportToIcs'
                    },
                    buttonText: {
                        today: 'Heute',
                        year: 'Jahr',
                        month: 'Monat',
                        list: 'Liste'
                    },

                    weekNumbers: false,
                    dayMaxEvents: true,
                    showNonCurrentDates: false,
                    fixedWeekCount: false,
                    weekNumberCalculation: 'ISO', // "ISO" changes the default value of firstDay from 0 (Sunday) to 1 (Monday).
                    
                    selectable: true,
                    editable: true,
                    navLinks: true,

                    // When the view is changed or the date changes
                    datesSet: function(info) {
                        
                        let displayedYear = calcDisplayedYear(info);

                        // Display the year after the Summary text
                        if (displayedYear) {
                            const summaryElement = document.getElementById('eventSummary');
                            summaryElement.textContent = 'Summary ' + displayedYear;
                        } else {
                            // console.log('No year found:', displayedYear);
                        }

                        // Call the function and render the table after the page has loaded
                        getEventSummary(calendarEvents, displayedYear).then(summary => {
                            renderTable(summary); 
                        });

                    },

                    // A URL of a JSON feed that the calendar will fetch Event Objects from.
                    events: calendarEvents,

                    // Ein zusätzlicher Button zum Exportieren der Events
                    customButtons: {
                        exportToIcs: {
                            text: 'Export to iCal',
                            click: function() {
                                exportCalendarEvents(calendar.getEvents());
                            }
                        }
                    },

                    dateClick: function(info) {
                        // alert('Date clicked: ' + info);
                        // console.log('info:', info);
                        // Here you could add a form or event creation functionality
                    },

                    eventClick: function(info) {
                        // Prevent default click action if necessary
                        info.jsEvent.preventDefault();
            
                        // Das angeklickte Event-Objekt
                        var event = info.event;
            
                        // Ausgabe in PopUp
                        alert("Event Details:\n" +
                            "ID: " + event.id + "\n" +
                            "Title: " + event.title + "\n" +
                            "Start: " + event.start.toISOString() + "\n" +
                            "End: " + (event.end ? event.end.toISOString() : 'Not specified') + "\n" +
                            "All-Day: " + (event.allDay ? 'Yes' : 'No')
                        );
            
                        // Falls du noch weitere Properties loggen möchtest
                        for (const [key, value] of Object.entries(event.extendedProps)) {
                            console.log(`${key}: ${value}`);
                        }
                    },

                    // Fill the form with event data when a date range is selected
                    select: function(info) {
                        // Convert start and end dates to Date objects
                        const eventStartDate = new Date(info.startStr);
                        const eventEndDate = new Date(info.endStr);
                        // console.log('Filling data in event form', eventStartDate, eventEndDate);

                        // Subtract one day from the end date because the endDate is not correctly passed from the calendar
                        eventEndDate.setDate(eventEndDate.getDate() - 1);

                        // Create formatted dates in the format yyyy-MM-dd
                        const formattedStartDate = eventStartDate.toISOString().split('T')[0];
                        const formattedEndDate = eventEndDate.toISOString().split('T')[0];
                        // console.log('Formatted:', formattedStartDate, formattedEndDate);

                        // Set values in form elements
                        document.getElementById('start').value = formattedStartDate;
                        document.getElementById('end').value = formattedEndDate;
                    }

                });

                calendar.render();

                // Prevent form submission and handle the form via JavaScript
                const form = document.querySelector('form'); // Select the form element
                form.addEventListener('submit', async function(event) {
                    event.preventDefault(); // Prevent default form submission

                    // Get form data
                    const formData = new FormData(form);
                    const data = {};
                    formData.forEach((value, key) => {
                        data[key] = value;
                    });
                    console.log('Get form data:', data);

                    // Überprüfe die Formulardaten auf Vollständigkeit
                    if (!data.name || !data.type || !data.start || !data.end) {
                        console.error('Fehler: Fehlende Formulardaten', data);
                        return;
                    }

                    try {
                        // Perform the API call using fetch
                        const newevent = await createDBData('/api/event/insert', data);
                        if (newevent === 200) {
                            window.location.reload(); // Reload the page to show updated data
                        } else {
                            alert(newevent);
                        }
                    } catch (error) {
                        console.error('Error occurred:', error);
                        alert('An error occurred while adding the event.');
                    }
                });

                // Event listener to synchronize dropdown selection with datalist input field
                document.getElementById('nameDropdown').addEventListener('change', function() {
                    const selectedValue = this.value;
                    document.getElementById('name').value = selectedValue; // Update datalist input field
                });

            });

        </script>

        <title >#RotaMaster</title><link type="image/x-icon" href="/assets/img/favicon.ico" rel="icon"  />

    </head>
    <!-- End Head -->

    <!-- Begin Body -->
    <Body >
        <header >
            <!--div Class="jumbotron text-center" Id="j1" Style="padding:15; background-color:#012456"  >
                <h1 >#RotaMaster - V2</h1>
            </div-->
        </header>
    
        <Section Id="section"  >
            <nav Class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top"  >
                <div Class="container-fluid"  >
                    <a Class="navbar-brand" href="/" Target="_self"  >»RotaMaster</a>
                    <button Class="navbar-toggler" type="button" title="Navbar" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"  >
                        <span Class="navbar-toggler-icon"  ></span>
                    </button>
                    <div Id="collapsibleNavbar" Class="collapse navbar-collapse"  >
                    <ul Class="navbar-nav"  >
                        <li Class="nav-item"  ><a Class="nav-link" href="https://github.com/tinuwalther/" Target="_blank"  >GitLab</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://www.w3schools.com/html/" Target="_blank"  >HTML</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://getbootstrap.com/" Target="_blank"  >Bootstrap</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://fullcalendar.io/" Target="_blank"  >Full calendar</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://github.com/RamblingCookieMonster/PSSQLite/" Target="_blank"  >PSSQLite</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
        
            <div Class="Container-fluid">

                <!--article Id="CalendarBox"-->

                    <div id="events-log">

                        <form action="/api/event/new" method="POST" id="eventForm">

                            <h3>Events</h3>

                            <div class="col-auto">

                                <input type="hidden" id="request" name="request" value="form"><br>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                    <input class="form-control" list="datalistOptions" id="name" name="name" placeholder="Tippen oder auswählen...">
                                    <datalist id="datalistOptions">
                                        <!--option value=Werte aus meinem Array /-->
                                    </datalist>
                                </div>
                                <!-- Additional dropdown for names -->
                                <div class="input-group mb-3">
                                    <!-- <label for="nameDropdown" class="input-group-text">Select Name</label> -->
                                    <select class="form-select" id="nameDropdown" name="nameDropdown" title="nameDropdown">
                                        <option value="">Please select...</option>
                                        <!-- Option values will be filled dynamically by JavaScript -->
                                    </select>
                                </div>

                            </div>

                            <div class="col-auto">
                                <label for="start" class="form-label">Typ der Abwesenheit</label><br>
                                <select class="form-select" size="5" aria-label="Default select example" id="absenceType" name="type">
                                    <!--option selected>Typ der Abwesenheit</option-->
                                </select><br>
                            </div>

                            <div class="col-auto">
                                <label for="start" class="form-label">Startdatum</label><br>
                                <input type="date" class="form-control" id="start" name="start"><br>
                            </div>

                            <div class="col-auto">
                                <label for="end" class="form-label">Enddatum</label><br>
                                <input type="date" class="form-control" id="end" name="end"><br>
                            </div>

                            <div class="col-auto">
                                <input type="submit" value="Eintragen" class="btn btn-primary mb-3">
                            </div>
                        </form>

                        <div>
                            <h3 id="eventSummary"><!-- Hier wird das Jahr eingefügt --></h3>
                            <p>Angaben in ganzen Tagen</p>
                            <!-- Tabelle zur Anzeige der Event-Daten -->
                                <table class="table table-striped table-hover table-sm" id="pikettTable" border="0">
                                    <thead>
                                        <tr>
                                            <th>Person</th>
                                            <th>Pikett</th>
                                            <th>Pier</th>
                                            <th>Ferien</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Hier werden die Daten eingefügt -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                                            
                    <div id="calendar"></div>

                <!--/article-->

            </div>

        </Section>

        <pre Style="text-align:center;color:#000"  >Creates the swiss-public holidays for the given year: I ♥ PS > Invoke-WebRequest -Uri http://localhost:8080/api/year/new -Method Post -Body 2025</pre>
        <!-- <pre Style="text-align:center;color:#000" id="sqlite" ></pre> -->

    </Body>
    <!-- End Body -->
 
    <!-- Begin Footer -->
    <footer>
        <div Class="container-fluid"  >

            <div Class="row align-items-center"  >

                <div Class="col-md"  >
                    <p Style="color:#f8f9fa">
                        <a Class="btn-sm btn btn-outline-success" href="#" Target="_self"  >I ♥ PS ></a>
                    </p>
                </div>
                    
                <div Class="col-md"  >
                    <p Style="color:#f8f9fa">
                        Based on <a href="https://www.powershellgallery.com/packages/Pode" Target="_blank"  >Pode</a>
                    </p>
                </div>

                <div Class="col-md" Style="color:#000"  >
                    <p id="footerDate" Style="color:#f8f9fa">
                        <!-- Hier wird der aktuelle TimeStamp eingefügt -->
                    </p>
                </div>

            </div>

        </div>
    </footer>
    <!--End Footer -->

</html>
