<!DOCTYPE html>
<html lang="en">

    <!-- Begin Head -->
    <head >
        <meta charset="UTF-8"  /><meta name="author" content="Martin Walther - @tinuwalther"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Pode, FullCalendar, PowerShell, JavaScript"/>
        <meta name="description" content="RotaMaster is a Calendar App based on Pode and PowerShell-APIs"/>
        
        <link rel="stylesheet" href="/assets/BootStrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/rotamaster/rotamaster.main.css"/>

        <script src="/assets/BootStrap/bootstrap.bundle.min.js"></script>
        <script src="/assets/rotamaster/fullcalendar.main.min.js"></script>
        <script src="/assets/rotamaster/index.global.min.js"></script>
        <script src="/assets/rotamaster/rotamaster.main.js"></script>

        <script>
            let db;

            /**
            * On page load
            */
            window.addEventListener('load', () => {
                getNextYear('/api/year/new'); // Call the API once the page is fully loaded
            });

            /**
            * Initializes the FullCalendar instance with events from the API and sets up form submission handling.
            * 
            * This function listens for the `DOMContentLoaded` event to ensure the DOM is fully loaded before
            * initializing the FullCalendar component. It asynchronously fetches event data from the provided API,
            * configures the calendar with this data, and renders the calendar. Additionally, the form handling logic
            * for creating new events is included, where form submissions are intercepted, and data is sent to the API.
            *
            * Main features:
            * - Loads calendar events from the API endpoint '/api/csv/read'.
            * - Initializes a FullCalendar instance with various configuration options (locale, views, toolbars, etc.).
            * - Handles 'dateClick' and 'select' interactions in the calendar.
            * - Intercepts form submissions to create new events by sending form data to the API endpoint '/api/event/new'.
            *
            * @listens DOMContentLoaded
            * 
            * @example
            * The calendar is initialized and rendered once the page is fully loaded.
            */
            document.addEventListener('DOMContentLoaded', async function() {

                const username = getCookie('CurrentUser');
                if (username) {
                    const welcomeElement = document.getElementById('currentUser');
                    if (welcomeElement) {
                        welcomeElement.textContent = `${username}`;
                        document.getElementById('datalistName').value = username;
                    } else {
                        console.error("Element with ID 'welcomeMessage' not found.");
                    }
                }

                // Refresh footer datetime
                const d = new Date();
                document.getElementById('footerDate').textContent = 'Last refresh: ' + d.toLocaleString();

                // Get calendarEvents from SQLite and concatenate holidays and events to one Array
                const events = await readDBData('/api/event/read/*');
                const holidays = await loadApiData('/api/csv/read');
                let calendarEvents = [];
                calendarEvents = [
                    ...(holidays || []), // Feiertage (falls vorhanden)
                    ...(Array.isArray(events) ? events : [events] || []) // User Events als Array
                ];
                            
                // Wait for the result of the getPerson function and fill the datalist element
                const person = await readDBData('/api/person/read');
                var personNames = new Array;
                person.map((item) => {
                    personNames.push(item.fullname);
                });
                if (personNames.length) {
                    fillDatalistOptions('datalistOptions', personNames);
                    fillDropdownOptions('nameDropdown', personNames);
                } else {
                    console.error('No person found.');
                }

                // Wait for the result of the API and fill the dropdownoptions
                const absence = await readDBData('/api/absence/read');
                var absenceNames = new Array;
                absence.map((item) => {
                    absenceNames.push(item.name);
                });
                if (absenceNames.length) {
                    fillDropdownOptions('absenceType', absenceNames);
                } else {
                    console.error('No absence found.');
                }

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    // concatenate calendarConfig from rotamaster.js
                    ...calendarConfig,

                    // JSON feed that the calendar will fetch Event Objects from.
                    events: calendarEvents,

                    customButtons: {
                        exportToIcs: {
                            // Create a Bootstrap-Modal-Instance for multipleEvents and open it
                            text: 'Export Events',
                            click: function() {
                                const exportModal = new bootstrap.Modal(document.getElementById('multipleEvents'), {
                                    keyboard: true
                                });
                                document.getElementById('btnAllEvents').checked = true;
                                document.getElementById('personNameInput').value = '';
                                document.getElementById('eventTypeInput').value = '';
                                exportModal.show();
                            }
                        },
                        filterEvents: {
                            text: 'My Events',
                            click: async function() {
                                const button = document.querySelector('.fc-filterEvents-button');
                                const holidays = await loadApiData('/api/csv/read');
                                isMyEvents = button.textContent;
                                let currentEvents = [];
                                let calendarEvents = [];

                                if (isMyEvents.includes('My Events')) {
                                    // Filter events to the current user
                                    const response = await fetch(`/api/event/read/${username}`);
                                    if (!response.ok) {
                                        throw new Error(`Failed to fetch user events of ${username}`);
                                    }
                                    currentEvents = await response.json();
                                    button.textContent = 'All Events';
                                }else if(isMyEvents.includes('All Events')) {
                                    // Fetch all events
                                    // currentEvents = await loadApiData('/api/event/read/*');
                                    const response = await fetch('/api/event/read/*');
                                    if (!response.ok) {
                                        throw new Error('Failed to fetch user events of all users');
                                    }
                                    currentEvents = await response.json();
                                    button.textContent = 'My Events';
                                }

                                calendarEvents = [
                                    ...(holidays || []), // Feiertage (falls vorhanden)
                                    ...(Array.isArray(currentEvents) ? currentEvents : [currentEvents] || []) // User Events als Array
                                ];

                                calendar.removeAllEvents();
                                calendar.addEventSource(calendarEvents);
                            }
                        }
                    },

                    // view is changed or the date changes
                    datesSet: function(info) {
                        
                        let displayedYear = calcDisplayedYear(info);

                        // Display the year after the Summary text
                        if (displayedYear) {
                            const summaryElement = document.getElementById('eventSummary');
                            summaryElement.textContent = 'Summary ' + displayedYear;
                        } else {
                            // console.log('DEBUG', 'No year found:', displayedYear);
                        }

                        // Call the function and render the table after the page has loaded
                        getEventSummary(calendarEvents, displayedYear).then(summary => {
                            // console.log('DEBUG', 'Calculate summary');
                            renderTable(summary); 
                        });

                        refreshCalendarData(calendar);
                        document.querySelector('.fc-filterEvents-button').textContent = 'My Events';
                    },

                    // event is clicked
                    eventClick: function(info) {
                        // Create a Bootstrap-Modal-Instance for singleEvent and open it
                        const event = info.event;
                        const singleEvent = new bootstrap.Modal(document.getElementById('singleEvent'), {
                            keyboard: true
                        });
                        setModalEventData(event);
                        document.getElementById('btnExportEvent').checked = true;
                        singleEvent.show();

                        const exportButton = document.getElementById('btnUpdateExport'); 
                        // exportButton.onclick = handleModalButtonClick.bind(null, event, calendar);
                        exportButton.onclick = function() {
                            handleModalButtonClick(event, calendar);
                        };
                    },

                    // date range is selected
                    select: function(info) {

                        // Convert start and end dates to Date objects
                        const eventStartDate = new Date(info.startStr);
                        const eventEndDate = new Date(info.endStr);
                        // console.log('DEBUG', 'Filling data in event form', eventStartDate, eventEndDate);

                        // Subtract one day from the end date because the endDate is not correctly passed from the calendar
                        eventEndDate.setDate(eventEndDate.getDate() - 1);

                        // Create formatted dates in the format yyyy-MM-dd
                        const formattedStartDate = eventStartDate.toISOString().split('T')[0];
                        const formattedEndDate = eventEndDate.toISOString().split('T')[0];
                        // console.log('DEBUG', 'Formatted:', formattedStartDate, formattedEndDate);

                        // Set values in form elements
                        document.getElementById('start').value = formattedStartDate;
                        document.getElementById('end').value = formattedEndDate;
                    },

                    // event is moved
                    eventDrop: async function(info) {
                        if(info.event.id){
                            // Send update to OpsGenie as Override
                            message = `'${info.event.title}' verschieben nach ${formatDateToShortISOFormat(info.event.start).substring(0,10)}?`;
                            if (confirm(message)) {
                                const updatedEvent = {
                                    id: info.event.id,
                                    type: info.type,
                                    start: info.event.start,
                                    end: info.event.end
                                };
                                await updateDBData('/api/event/update', updatedEvent);
                                console.log('Send update to OpsGenie as Override');
                            }else{
                                info.revert();
                            }
                        }else{
                            info.revert();
                            alert(`'${info.event.title}' ist von einem CSV und kann nicht verschoben werden!`)
                        }
                    }
                    
                });

                calendar.render();
                
                // Füge die App-Version zur Navbar-Brand ein
                const pageTitle = `RotaMaster V${calendarConfig.appVersion.substring(0,1)}`;
                const navbarBrandElement = document.getElementById('navbarBrand');
                if (navbarBrandElement) {
                    navbarBrandElement.textContent = pageTitle;
                };

                document.getElementById('title').textContent = pageTitle;

                // Event-Listener für den Export-Button im Modal multipleEvents
                const exportButton = document.getElementById('btnExport');
                exportButton.addEventListener('click', function() {
                    // Rufe die Events aus dem Kalender ab
                    const events = calendar.getEvents();

                    if (btnAllEvents.checked) {
                        exportCalendarEvents(events, 'all-events.ics');
                    } else if (btnPersonEvents.checked) {
                        const personName = document.getElementById('personNameInput').value.trim();
                        if (personName) {
                            exportFilteredEvents(
                                events,
                                event => {
                                    const [eventPersonName] = event.title.split(' - ');
                                    return eventPersonName.trim().toLowerCase() === personName.toLowerCase();
                                },
                                `${personName}-events.ics`,
                                exportCalendarEvents
                            );
                        } else {
                            alert('Bitte geben Sie einen Namen ein.');
                        }
                    } else if (btnTypeOfEvents.checked) {
                        const eventType = document.getElementById('eventTypeInput').value.trim();
                        if (eventType) {
                            exportFilteredEvents(
                                events,
                                event => {
                                    const [, eventTypeName] = event.title.split(' - ');
                                    return eventTypeName && eventTypeName.trim().toLowerCase() === eventType.toLowerCase();
                                },
                                `${eventType}-events.ics`,
                                exportCalendarEvents
                            );
                        } else {
                            alert('Bitte geben Sie einen Event-Typ ein.');
                        }
                    }

                    // Modal nach dem Export schließen
                    const exportModal = bootstrap.Modal.getInstance(document.getElementById('multipleEvents'));
                    exportModal.hide();
                });

                // Event-Listener, um das Inputfeld sichtbar zu machen, wenn der entsprechende Radio-Button ausgewählt wird
                const btnAllEvents = document.getElementById('btnAllEvents');
                const btnPersonEvents = document.getElementById('btnPersonEvents');
                const btnTypeOfEvents = document.getElementById('btnTypeOfEvents');
                const personNameContainer = document.getElementById('personNameContainer');
                const eventTypeContainer = document.getElementById('eventTypeContainer');

                btnAllEvents.addEventListener('change', function() {
                    if (btnAllEvents.checked) {
                        personNameContainer.style.display = 'none';
                        eventTypeContainer.style.display = 'none';
                    }
                });
            
                btnPersonEvents.addEventListener('change', function() {
                    if (btnPersonEvents.checked) {
                        personNameContainer.style.display = 'block';
                        eventTypeContainer.style.display = 'none';
                    }
                });
            
                btnTypeOfEvents.addEventListener('change', function() {
                    if (btnTypeOfEvents.checked) {
                        personNameContainer.style.display = 'none';
                        eventTypeContainer.style.display = 'block';
                    }
                });

                // Add Tooltip to the Buttons
                setTimeout(function() {
                    const buttons = [
                        { selector: '.fc-multiMonthYear-button', tooltip: 'Jahressansicht' },
                        { selector: '.fc-dayGridMonth-button', tooltip: 'Monatsansicht' },
                        { selector: '.fc-listMonth-button', tooltip: 'Listenansicht' },
                        { selector: '.fc-exportToIcs-button', tooltip: 'Exportiere alle Kalender-Events als iCalendar (.ics) Datei' },
                        { selector: '.fc-filterEvents-button', tooltip: 'Zeige nur meine Events an' },
                        { selector: '.fc-exportPersonEvents-button', tooltip: 'Exportiere alle Kalender-Events personenspezifisch als iCalendar (.ics) Datei' }
                    ];
                
                    buttons.forEach(button => {
                        const element = document.querySelector(button.selector);
                        if (element) {
                            element.setAttribute('title', button.tooltip);
                        }
                    });
                }, 0);                
                
                // Prevent form submission and handle the form via JavaScript
                const form = document.querySelector('form'); // Select the form element
                form.addEventListener('submit', async function(event) {
                    event.preventDefault(); // Prevent default form submission

                    // Get form data
                    const data = getFormData(form);
                    if (!data) {
                        alert('Bitte füllen Sie alle erforderlichen Felder aus.');
                        return;
                    }

                    try {
                        console.log('DEBUG', data.type, data);
                        // Perform the API call using fetch add data
                        if(data.type === 'Pikett'){
                            const username = data.name;
                            const response = await fetch(`/api/event/read/${username}`);
                            if (!response.ok) {
                                throw new Error(`Failed to fetch user events of ${username}`);
                            }
                            currentEvents = await response.json();
                            console.log('DEBUG', currentEvents);
                        }
                        await createDBData('/api/event/create', data);
                        // Create Override in OpsGenie
                        console.log('Create Override in OpsGenie');
                    } catch (error) {
                        console.error('Error occurred:', error);
                        alert('An error occurred while adding the event.');
                    }
                });

                // synchronize dropdown selection with datalist input field
                eventListenerDropwodn('nameDropdown','datalistName');
            });

        </script>

        <title id="title" >RotaMaster</title><link type="image/x-icon" href="/assets/img/favicon.png" rel="icon"  />

    </head>
    <!-- End Head -->

    <!-- Begin Body -->
    <Body >
        <header >
            <!--div Class="jumbotron text-center" Id="j1" Style="padding:15; background-color:#012456"  >
                <h1 >RotaMaster</h1>
            </div-->
        </header>
    
        <Section Id="section"  >

            <!-- Begin NavBar -->
            <nav Class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top"  >
                <div Class="container-fluid"  >
                    <img src="/assets/img/favicon.png" alt="Bootstrap" width="48" height="48">
                    <a Class="navbar-brand" id="navbarBrand" href="/" Target="_self"  >RotaMaster</a>
                    <button Class="navbar-toggler" type="button" title="Navbar" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"  >
                        <span Class="navbar-toggler-icon"  ></span>
                    </button>
                    <div Id="collapsibleNavbar" Class="collapse navbar-collapse"  >
                    <ul Class="navbar-nav"  >
                        <!--
                        <li Class="nav-item"  ><a Class="nav-link" href="https://github.com/tinuwalther/" Target="_blank"  >GitLab</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://www.w3schools.com/html/" Target="_blank"  >HTML</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://getbootstrap.com/" Target="_blank"  >Bootstrap</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://fullcalendar.io/" Target="_blank"  >Full calendar</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="https://github.com/RamblingCookieMonster/PSSQLite/" Target="_blank"  >PSSQLite</a></li>
                        -->
                        <li Class="nav-item"  ><a Class="nav-link" href="/absence" >Absenzen</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="/person"  >Personen</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="/about"  >About</a></li>
                        <li Class="nav-item"  ><a Class="nav-link" href="/logout"  >Logoff</a></li>
                    </ul>
                    <span class="navbar-text ms-auto" id="currentUser">
                        <!-- logged-in as Username -->
                    </span>
                    </div>
                </div>
            </nav>
            <!-- End NavBar -->

            <!-- Begin Modal multipleEvents -->
            <div class="modal fade" id="multipleEvents" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">RotaMaster - Export multiple Events</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Events als ICS-Datei herunterladen:</p>

                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnAllEvents" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="btnAllEvents" data-bs-toggle="tooltip" title="Exportiert alle Events als ICS-Datei">Alle Events</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnPersonEvents" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btnPersonEvents" data-bs-toggle="tooltip" title="Exportiert alle Events einer bestimmten Person als ICS-Datei">Personen Events</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnTypeOfEvents" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btnTypeOfEvents" data-bs-toggle="tooltip" title="Exportiert alle Events eines bestimmten Typs als ICS-Datei">Event Typen</label>
                            </div>

                            <!-- Inputfeld für den Namen, standardmäßig versteckt -->
                            <div id="personNameContainer" style="display: none; margin-top: 10px;">
                                <label for="personNameInput" class="form-label">Name der Person:</label>
                                <input type="text" id="personNameInput" class="form-control" placeholder="Name eingeben...">
                            </div>

                            <!-- Inputfeld für den Event-Typ, standardmäßig versteckt -->
                            <div id="eventTypeContainer" style="display: none; margin-top: 10px;">
                                <label for="eventTypeInput" class="form-label">Event Typ:</label>
                                <input type="text" id="eventTypeInput" class="form-control" placeholder="Typ eingeben...">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="btnExport" class="btn btn-dark">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal multipleEvents -->

            <!-- Begin Modal singleEvent -->
            <div class="modal fade" id="singleEvent" tabindex="-1" aria-labelledby="updateExportEventsLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="updateExportEventTitle">RotaMaster - Single Event</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="singleEvent-id"></p>
                            <p id="singleEvent-title"></p>
                            <p id="singleEvent-date"></p>
                            <p id="singleEvent-other"></p>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnExportEvent" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="btnExportEvent" data-bs-toggle="tooltip" title="Exportiert den Event als ICS-Datei">Export</label>

                                <!-- 
                                <input type="radio" class="btn-check" name="btnradio" id="btnUpdateEvent" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btnUpdateEvent" data-bs-toggle="tooltip" title="Event ändern">Update</label>
                                -->

                                <input type="radio" class="btn-check" name="btnradio" id="btnRemoveEvent" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btnRemoveEvent" data-bs-toggle="tooltip" title="Event löschen">Remove</label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="btnUpdateExport" class="btn btn-dark">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal singleEvent -->

            <div Class="Container-fluid">

                <!-- Begin Events -->
                <div id="events-log">
                    <!-- Begin Form -->
                    <form action="/api/event/new" method="POST" id="eventForm">

                        <h3>Events</h3>

                        <div class="col-auto">

                            <input type="hidden" id="request" name="request" value="form"><br>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                                <input class="form-control" list="datalistOptions" id="datalistName" name="name" placeholder="Tippen oder auswählen...">
                                <datalist id="datalistOptions">
                                    <!--option value=Werte aus meinem Array /-->
                                </datalist>
                            </div>
                            
                            <!-- Additional dropdown for names -->
                            <div class="input-group mb-3">
                                <!-- <label for="nameDropdown" class="input-group-text">Select Name</label> -->
                                <select class="form-select" id="nameDropdown" name="nameDropdown" title="nameDropdown">
                                    <option value="">Please select...</option>
                                    <!-- Option values will be filled dynamically by JavaScript -->
                                </select>
                            </div>

                        </div>

                        <div class="col-auto">
                            <label for="start" class="form-label">Typ der Abwesenheit</label><br>
                            <select class="form-select" size="5" aria-label="Default select example" id="absenceType" name="type">
                                <!--option selected>Typ der Abwesenheit</option-->
                            </select><br>
                        </div>

                        <div class="col-auto">
                            <label for="start" class="form-label">Startdatum</label><br>
                            <input type="date" class="form-control" id="start" name="start"><br>
                        </div>

                        <div class="col-auto">
                            <label for="end" class="form-label">Enddatum</label><br>
                            <input type="date" class="form-control" id="end" name="end"><br>
                        </div>

                        <div class="col-auto">
                            <input type="submit" value="Eintragen" class="btn btn-dark mb-3">
                        </div>
                    </form>
                    <!-- End Form -->

                    <!-- Begin Summary -->
                    <div>
                        <h3 id="eventSummary"><!-- Hier wird das Jahr eingefügt --></h3>
                        <p>Angaben in ganzen Tagen</p>
                        <!-- Tabelle zur Anzeige der Event-Daten -->
                        <table class="table table-striped table-hover table-sm" id="pikettTable" border="0">
                            <thead>
                                <tr>
                                    <th>Person</th>
                                    <th>Pikett</th>
                                    <th>Peer</th>
                                    <th>Ferien</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Hier werden die Daten eingefügt -->
                            </tbody>
                        </table>
                    </div>
                    <!-- End Summary -->

                </div>
                <!-- End Events -->

                <!-- Begin Calendar -->
                <div id="calendar"></div>
                <!-- End Calendar -->

            </div>

        </Section>

        <pre Style="text-align:center;color:#000"  >Creates the swiss-public holidays for the given year: I ♥ PS > Invoke-WebRequest -Uri http://localhost:8080/api/year/new -Method Post -Body 2025</pre>

    </Body>
    <!-- End Body -->
 
    <!-- Begin Footer -->
    <footer>
        <div Class="container-fluid"  >

            <div Class="row align-items-center"  >

                <div Class="col-md"  >
                    <p Style="color:#f8f9fa">
                        <a Class="btn-sm btn btn-outline-success" href="#" Target="_self"  >TOP</a>
                    </p>
                </div>
                    
                <div Class="col-md"  >
                    <p Style="color:#f8f9fa">
                        Based on <a href="https://www.powershellgallery.com/packages/Pode" Target="_blank"  >Pode</a>
                    </p>
                </div>

                <div Class="col-md" Style="color:#000"  >
                    <p id="footerDate" Style="color:#f8f9fa">
                        <!-- Hier wird der aktuelle TimeStamp eingefügt -->
                    </p>
                </div>

            </div>

        </div>
    </footer>
    <!--End Footer -->

</html>
